{% load static %}

{% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show shadow-sm" 
                 role="alert" id="auto-dismiss-alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endfor %}
    </div>
{% endif %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <title> {{ config.CompanyName }}</title>

    <link rel="canonical" href="">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/dashboard.css' %}" rel="stylesheet">

    {% block css %}
    {% endblock %}

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body>

<header class="navbar navbar-dark sticky-top" 
style="background: linear-gradient(90deg, #0062E6, #33AEFF); flex-wrap: nowrap; padding: 0; box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);">

  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#"> {{ config.CompanyName }}</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
     TODO
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}">
              <span data-feather="home"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
           <a class="nav-link" href="{% url 'customer' %}">
              <span data-feather="file"></span>
              Customer
            </a>
          </li>
          <li class="nav-item">
           <a class="nav-link" href="{% url 'dashboard' %}">
              <span data-feather="file"></span>
              Product
            </a>
          </li>
          
            <li class="nav-item">
            <div class="d-flex justify-content-between align-items-center mb-1">
              <span>
                <span data-feather="layers"></span>
                Invoice
              </span>
              <!-- Single toggle button -->
              <button class="collapse-btn btn btn-outline-primary btn-sm rounded-circle" 
                      type="button" 
                      data-bs-toggle="collapse" 
                      data-bs-target="#InvoiceSubmenu" 
                      aria-expanded="false" 
                      aria-controls="InvoiceSubmenu">
                +
              </button>
            </div>

            <div class="collapse" id="InvoiceSubmenu">
              <ul class="nav flex-column ms-4">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'invoice_entry' %}">
                    <span data-feather="users"></span>
                    New
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'dashboard' %}">
                    <span data-feather="package"></span>
                    Update
                  </a>
                </li>
              </ul>
            </div>
          </li>



          <li class="nav-item">
            <div class="d-flex justify-content-between align-items-center mb-1">
              <span>
                <span data-feather="layers"></span>
                Admin
              </span>
              <!-- Single toggle button -->
              <button class="collapse-btn btn btn-outline-primary btn-sm rounded-circle" 
                      type="button" 
                      data-bs-toggle="collapse" 
                      data-bs-target="#adminSubmenu" 
                      aria-expanded="false" 
                      aria-controls="adminSubmenu">
                +
              </button>
            </div>

            <div class="collapse" id="adminSubmenu">
              <ul class="nav flex-column ms-4">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'customer' %}">
                    <span data-feather="users"></span>
                    Customer
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'product_master' %}">
                    <span data-feather="package"></span>
                    Product
                  </a>
                </li>

                 <li class="nav-item">
                  <a class="nav-link" href="{% url 'add_price_list' %}">
                    <span data-feather="package"></span>
                    Price Catalog
                  </a>
                </li>

                
                 <li class="nav-item">
                  <a class="nav-link" href="{% url 'customer_price_catalog' %}">
                    <span data-feather="package"></span>
                    Customer Price Catalog
                  </a>
                </li>


              </ul>
            </div>
          </li>


<!-- JS to toggle + and – -->
<script>
  document.querySelectorAll('.collapse-btn').forEach(function(btn) {
    const targetId = btn.getAttribute('data-bs-target');
    const collapseEl = document.querySelector(targetId);

    collapseEl.addEventListener('show.bs.collapse', function () {
      btn.textContent = '–';
    });

    collapseEl.addEventListener('hide.bs.collapse', function () {
      btn.textContent = '+';
    });
  });


   // Auto fade-out after 3 seconds
    setTimeout(function () {
        const alert = document.getElementById("auto-dismiss-alert");
        if (alert) {
            alert.classList.remove("show");
            alert.classList.add("fade");
            setTimeout(() => alert.remove(), 500); // remove after fade
        }
    }, 3000);
    
</script>

<!-- CSS for smaller rounded button -->
<style>
  .collapse-btn {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
  }

  .collapse-btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }
</style>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Settings</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'company_settings' %}">
              <span data-feather="file-text"></span>
              Company
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              SMTP
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Logout
            </a>
          </li>
        </ul>
      </div>
    </nav>

  {% block main %}
  {% endblock %}
  </div>
</div>


      <!-- JS starts here  -->
      <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

      <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
      <script src="{% static 'assets/js/dashboard.js' %}"></script>

      {% block scripts %}
      {% endblock %}


  </body>
</html>
